body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: (0,0%,95%);
}

#calculator{
    font-family:Arial, Helvetica, sans-serif;
    background-color: hsl(0,0%,15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size:5rem;
    text-align: left;
    border: none;
    background-color: hsl(0,0%,20%);
    color: white;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(4,0.1fr);
    gap: 0px;
    padding: 25px;
}

button{
    width:100px;
    height: 50px;
    color:black;
    border-radius: 50px;
    border: none;
    background-color: hsl(0,0%,30%);
    color: white;
    font-size: 1rem; 
    cursor: pointer;
}

button:hover{
    background-color: hsl(0,0%,40%);
}

button:active{
    background-color: hsl(0,0%,50%);
}

.operator-btn{
    background-color:hsl(17, 92%, 67%);
}

.operator-btn:hover{
   background-color: hsl(17, 72%, 73%);
}

.operator-btn:active{
   background-color: hsl(17, 100%, 82%);
}

.result{
    background-color: rgb(106, 255, 106);
}

.result:hover{
    background-color: rgb(134, 255, 134);
}

.result:active{
    background-color: rgb(20, 255, 20);
}